<nav class="navbar navbar-expand-lg navbar-light bg-withe">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="">
                <div class="row">
                    <img class="mb-1" src="./../../assets/img/Shape.png" alt="">
                </div>
                <div class="row">
                    <img class="mb-1" src="./../../assets/img/Shape.png" alt="">
                </div>
                <div class="row">
                    <img class="" src="./../../assets/img/Shape.png" alt="">
                </div>
            </span>
        </button>
        <div class="d-flex">
            <img class="logo" src="./../../assets/img/miscellaneous.png" alt="">
            <div class="row logo-text">
                <div class="col mt-3 ms-3">
                    <p class="title font">zutterman</p>
                    <p class="font items subtitle ms-1">Measure Tapes</p>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="collapse navbar-collapse me-2 font items" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item me-5  ms-5 ">
                        <a class="nav-link items" aria-current="page" href="#">ABOUT US</a>
                    </li>
                    <li class="nav-item me-5 ms-5">
                        <a class="nav-link items" href="#">MODELS</a>
                    </li>
                    <li class="nav-item me-5 ms-5">
                        <a class="nav-link items" href="#">GUARANTEE</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<section class="banner">
    <div class="container h-100 d-flex justify-content-center">
        <div class="row d-flex align-items-center ">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2 class="title-banner font d-flex align-items-center justify-content-center">Measuring</h2>
                <h2 class="title-banner font d-flex align-items-center justify-content-center">everything</h2>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 mt-2">
                <img class="banner-image" src="./../../assets/img/Bitmap2.png" alt="">
            </div>
        </div>
    </div>
</section>
<section class="color">
    <div class="row banner2 me-0 d-flex ">
        <div class="col-lg-4 d-flex">
            <div class="container h-100 d-flex  ">
                <div class="row d-flex justify-content-center align-items-center mt-5">
                    <div class="col-10 mt-5">
                        <h2 class="title2-banner d-flex align-items-center justify-content-center font">We are Leaders
                            in Measure Tapes</h2>
                        <p class="text-banner font">There are 5x the circumference of planet earth in metric tapes.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-sm-12 ">
            <img class="banner2-image" src="./../../assets/img/Bitmap.png" alt="">
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row ">
            <div class="col-lg-3 mb-5 ">
                <h5 class="mb-3 mt-5 center-items font text">Follow Us</h5>
                <div class="center-items">
                    <a href="//www.google.com"><img src="./../../assets/img/youtube.png" class="me-3 "></a>
                    <a href="//www.google.com"><img src="./../../assets/img/facebook.png" class="me-3"></a>
                    <a href="//www.google.com"><img src="./../../assets/img/twitter.png" class=""></a>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="center-items">
                    <h5 class="mb-3 mt-5 font text">Contact</h5>
                </div>
                <p class="center-items mb-0 font">2490 Leisure Lane San</p>
                <p class="center-items mb-0 font">Luis Obispo</p>
                <p class="center-items font">California</p>
            </div>
        </div>
    </div>
</footer>