@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

.font {
    font-family: 'Roboto Condensed', sans-serif;
}
/* navbar */
.logo {
    height: 70px;
    margin-top: 20px;
    margin-left: 53px;
}

.logo-text {
    display: flex;
}


.title {
   color : #846219;
   margin-bottom: 0;
   padding-bottom: 0;
   font-size: 40px;
   font-weight: 700;
  justify-content: center;
  align-items: center;
}

.subtitle {
    font-size: 16,2px;
    letter-spacing: .3rem;
}

.items {
    color : #846219 !important;
}

/* first-banner */
.banner {
   background-color:#E9E9E9;
   height: 50em;
}

.title-banner {
    color :  #716565;
    font-size : 3.5em;
    font-weight: 700;
}

.banner-image {
    width: 100%;
}

/* second banner */

.color {
    background-color: #506FA9
}

.banner2 {
    height: 50em;
 }

.banner2-image {
    width: 100%;
    mix-blend-mode: multiply;
    filter: drop-shadow(-3px 27px 29px #000000);
    justify-content: right;
}

.title2-banner {
    color :  #ffffff;
    font-size : 3rem;
    font-weight: 700;
}

.text-banner {
    font-size: 2em;
    color :  #ffffff;
    font-weight: 100;   
}

/* Footer */

footer{
    background-color:#E9E9E9 ;
    color : #716565
}

footer .text {
    font-weight: 650;
}


@media (max-width: 767px) {
    .title2-banner .title-banner{
        font-size: 40px;
    }
    .text-banner{
        font-size: 20px;
    }
    .center-items{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo-text{
        display: none;
    }

    .logo {
        height: 40px;
        margin-top: 0;
        margin-left: 0;
        padding-left: 0;
    }
    .banner{
        height: 30em;
    }
}